---
// layout
import BaseLayout from "@/layouts/BaseLayout.astro";
// components
import Approach from "@/components/About/Approach";
import "csshake/dist/csshake.css";
---

<BaseLayout pageTitle="關於我" isNavbar={false}>
  <section class="mb-20">
    <Approach client:only="react" />
  </section>
</BaseLayout>

<script>
  // nano store
  import { themeStore } from "@/store/contextStore";

  themeStore.set("dark");
  const $theme = themeStore.get();
  const isDark = $theme === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");
</script>
