---
import { getCollection } from "astro:content";
import Main from "@/components/Main.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
const posts = await getCollection("posts");
console.log(posts);
---

<BaseLayout pageTitle="Blog">
  <Main>
    {
      posts.map((post) => (
        <a href={`/blog/${post.slug}`}>
          <h2>{post.data.title}</h2>
        </a>
      ))
    }
  </Main>
</BaseLayout>
