---
import Main from "@/components/Main.astro";
import { Button } from "@/components/ui/button";
import { AiFillAlert } from "react-icons/ai";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { CardWithForm } from "@/components/Card";
import { Icon } from "astro-icon/components";
---

<BaseLayout pageTitle="Home">
  <Main>
    <CardWithForm client:load />
    <CardWithForm client:load />
    <CardWithForm client:load />
    <CardWithForm client:load />
    <CardWithForm client:load />
    <CardWithForm client:load />
    <CardWithForm client:load />
  </Main>
</BaseLayout>
