---
import { getCollection } from "astro:content";
import { Separator } from "@/components/ui/separator";
import BaseLayout from "@/layouts/BaseLayout.astro";
const allPosts = await getCollection("posts", ({ data }) => {
  return data.isDraft === false;
});
---

<BaseLayout pageTitle="首頁">
  <section class="grid place-content-center gap-3 py-8">
    <h1 class="text-xl font-bold w-fit mx-auto">John's Script</h1>
    <p class="text-muted-foreground text-center">
      這是一個分享程式設計筆記、讀書心得及吃喝玩樂等雜七雜八內容的Blog
    </p>
  </section>
</BaseLayout>
