---
import { getCollection } from "astro:content";
import Logo from "@/components/MainNavBar/Logo";
import BaseLayout from "@/layouts/BaseLayout.astro";
const allPosts = await getCollection("posts", ({ data }) => {
  return data.isDraft === false;
});
---

<BaseLayout pageTitle="首頁">
  <section>
    <h1><span>John's Script</span></h1>
    <p>這是一個分享學習程式設計、讀書心得及吃喝玩樂等內容雜七雜八的Blog</p>
  </section>
</BaseLayout>
