---
import FooterLinks from "./FooterLinks.tsx";
import AstroIcon from "./AstroIcon";
---

<footer class="py-7 border-t-[1px]">
  <div class="w-fit mx-auto flex-col space-y-5">
    <FooterLinks />
    <div class="flex flex-col space-y-1 text-sm items-center gap-1">
      <p class="flex gap-2">
        Built with
        <AstroIcon size={20} client:only="react" />
        in Taiwan
      </p>
      <p>&copy {new Date().getFullYear()} John's Script</p>
    </div>
  </div>
</footer>
