---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle="Post">
  <main>
    <h1>{frontmatter.title}</h1>
    <p>Published on: {frontmatter.date}</p>
    <slot />
  </main>
</BaseLayout>
